.elementor-1517 .elementor-element.elementor-element-0489705{margin-top:100px;margin-bottom:0px;}.elementor-1517 .elementor-element.elementor-element-45a62ce > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}/* Start custom CSS for html, class: .elementor-element-d7adb0a */.container {
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 1200px;
        margin: auto;
    }/* End custom CSS */